
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100">
                    <defs>
                        <clipPath id="circleClip">
                            <circle cx="50" cy="50" r="35"/>
                        </clipPath>
                    </defs>
                    <image class="circle-image" xlink:href="https://scontent.fsgn5-3.fna.fbcdn.net/v/t39.30808-6/438305221_1120928349126033_2068113579459756315_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGT3i64mruvELECp2sVZ3qwMuAzA9Lhv3Iy4DMD0uG_cr0wpVuso37rJfrqIjBAFMOLSaHv5esoJEcYFWhvFegW&_nc_ohc=BnxclcZ0KEsQ7kNvgFmU4Ed&_nc_ht=scontent.fsgn5-3.fna&oh=00_AYCQY0SoqK93bThiYL8tmCsvkbztnMPRTZwGU41VI6CC8Q&oe=664563D3" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" clip-path="url(#circleClip)" />
                    <circle cx="50" cy="50" r="45" fill="none" stroke="rgb(240, 101, 197)" stroke-width="4"/>
                    <circle cx="50" cy="50" r="35" fill="none" stroke="rgb(127, 68, 255)" stroke-width="4"/>
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thông báo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-shopping-cart icon"></i>
                            Giỏ hàng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>